/* You can add global styles to this file, and also import other style files */
@import "~vis-timeline/dist/vis-timeline-graph2d.min.css";
.custom-row {
    border: none !important;
    color: red;
    background-color: rgba(209, 215, 224, 0.2);
}

.bookmarks {
    background-color: rgba(209, 215, 224, 0.5);
}

.vis-timeline {
    border: none;
}

.vis-current-time {
    background-color: #211a1a;
    width: 1px;
    z-index: 1;
    pointer-events: none;
}

.vis-item.my-dot {
    border-radius: 0 !important;
}

.vis-item.bookmark {
    border-color: rgba(76, 169, 255, 0.8);
}

.vis-item.item-1 {
    border-color: rgba(130, 32, 23, 0.5);
}

.vis-item.item-2 {
    border-color: rgba(255, 128, 130, 0.5);
}

.vis-item.item-3 {
    border-color: rgba(255, 173, 76, 1);
}

.vis-item.item-4 {
    border-color: rgba(209, 209, 212, 1);
}

.vis-item.item-5 {
    border-color: rgba(127, 255, 186, 0.5);
}

.vis-time-axis.vis-grid.vis-even {
    background: #c23b3b;
}
.range {
    top: 0;
    position: fixed !important;
    height: 100px;
    color: blue;
    background: #58588b4f;
    z-index: 10000;
}
// .vis-labelset {
//     opacity: 0;
// }

// .vis-label.vis-group-level-0 {
//     display: none;
// }
